
html , body                         { margin:0; padding:0;}
body                                { background: url(../images/line_bg.png) no-repeat 732px 61px; font: normal 12px Arial; color:#6b6b6b;  }
hr, .clear                          { clear:both; margin:0; padding:0; height:0px; width:0px; line-height:0px; font-size:0px; overflow:hidden; display:block; border:0; background:none;}   
a                                   { margin:0; padding:0; text-decoration:none; outline:none; color:#04769B; }
a:hover                             { text-decoration:underline;}
a img                               { border:0px;}
form, input, table, tr, td, table   { margin:0; padding:0; }
h1,h2,h3,h4,h5,h6                   { margin:0; padding:0; font-weight:normal; font-size:1em;}
p                                   { margin:0; padding:5px 0px; }
ul,dl,ol                            { margin:0; padding:0 0 0 20px; }
dt, dd, li                          { margin:0; padding:0 0 3px 0; }
nav,figure,footer,aside,article     { display:block; margin:0; padding:0;}