
html , body                         { margin:0; padding:0;}
body                                { background: url(../images/body.jpg) no-repeat  center top; font: normal 12px Arial; color:#6b6b6b;  }
hr, .clear                          { clear:both; margin:0; padding:0; height:0px; width:0px; line-height:0px; font-size:0px; overflow:hidden; display:block; border:0; background:none;}   
a                                   { margin:0; padding:0; text-decoration:none; outline:none; color:#04769B; }
a:hover                             { text-decoration:underline;}
a img                               { border:0px;}
form, input, table, tr, td, table   { margin:0; padding:0; }
h1,h2,h3,h4,h5,h6                   { margin:0; padding:0; font-weight:normal; font-size:1em;}
p                                   { margin:0; padding:5px 0px; }
ul,dl,ol                            { margin:0; padding:0 0 0 20px; }
dt, dd, li                          { margin:0; padding:0 0 3px 0; }
nav,figure,footer,aside,article     { display:block; margin:0; padding:0;}


header{
  margin: 0 auto;
  width: 1000px;
  height: 217px;
}

header > a{
  margin-top: 56px;
  display: block;
  width: 138px;
  height: 86px;
  float: left;
  text-indent: -9999px;
  background: url(../images/logo.png) no-repeat 0 0;
}

header form{
  margin-top: 90px;
  display: block;
  width: 139px;
  float: right;
  overflow: hidden;
}

header form input{
  padding: 5px 10px;
  display: block;
  width: 117px;
  height: 13px;
  font-size: 11px;
  border-radius: 2px;
  border: 1px solid #d5d5d5;
  background: #fff;
}

header > nav {
  height: 75px;
  clear: both;
  background: #000;
}

header > nav > ol{
  margin: 0;
  padding: 12px 0 14px 21px;
  height: px;
  list-style-type: none;
  font-size: 11px;
  color: #666666;
}

header > nav > ol li{
  padding:0;
  display: inline;
}
header > nav > ol a{
  color: #666666;
}
header > nav > ol a:hover{
  color: #9e9e9e;
}

header > nav > ol a.selected{
  color: #f5f5f5;
  cursor:default;
  text-decoration: none;
}

header > nav > ul{
  padding:0 0 0 10px;
  min-height: 45px;
  background: url(../images/main_menu_bg.jpg) repeat-x #fff;
  list-style-type: none;
}

header > nav > ul > li{
  position: relative;
  padding-right: 17px;
  background: url(../images/main_menu_corner.png) no-repeat right -87px;
  z-index: 10;
}

header > nav > ul > li, 
header > nav > ul > li > a{
	float: left;
}

header > nav > ul > li > a,
header > nav > ul > li > a > span{
  display: block;
  line-height: 40px;
  padding: 0px 2px;
}

header > nav > ul > li > a{
  padding-left: 17px;
  padding-top: 4px;
  overflow: hidden;
  text-decoration: none;
  font: bold 13px Arial;
  color: #9d9d9d;
  background: url(../images/menu_tab_first.png) no-repeat 0px -87px;
}

header > nav > ul  > li  > a.selected, 
header > nav > ul > li > a:hover {
  text-decoration: none;
  background: url(../images/menu_tab_first.png) no-repeat left 0px;
  color: #000;
}

header > nav > ul li > a > .home_icon{
  background: url(../images/icons.png) no-repeat left -30px;
  padding-left: 25px;
}
header > nav > ul > li > a.selected .home_icon,
header > nav > ul > li  > a:hover .home_icon{
  background: url(../images/icons.png) no-repeat left 10px;
  padding-left: 25px;
}

li.dropmenu:hover span{ 
  background: #101010;
  border-radius: 7px;
  color: #fff;
}

header > nav > ul > li > ol{
  display: none;
  position: absolute;
  left: 17px;
  top: 33px;
  list-style-type: none;	
}

header > nav > ul > li:hover > ol {
  display: block;
  width: 160px;
  background-color: #fff;
  border: 10px solid #101010;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

header > nav > ul > li > ol > li,
header nav > ul > li > ol > li > a {
  float: none; 
  display: block;
  color: #000;
}

header > nav > ul > li > ol > li{
  margin: 0 auto;
  padding: 10px 0px;
  width: 140px;
  background-color: #fff;	
  border-bottom: 1px solid #e5e5e5;
}

header > nav > ul > li > ol > li:last-child{
  border-bottom: none;
}


header > nav > ul > li > ol > li > a:hover{
  text-decoration: none;
  color: #ab0066; 
}


#content{
  margin: 0 auto;
  padding: 0 18px 20px 18px;
  width: 964px;
  clear: both;
  background: #fff;
}


#text_carousel{
  position: relative; z-index: 5;
  padding: 6px;
  height: 20px;
  overflow: hidden;
  font-size: 11px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: -moz-linear-gradient(top,  #f5f5f5 0%, #e6e6e6 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#e6e6e6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f5f5f5 0%,#e6e6e6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f5f5f5 0%,#e6e6e6 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f5f5f5 0%,#e6e6e6 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f5f5f5 0%,#e6e6e6 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-9 */
}

#text_carousel > h2{
  width: 85px;
  height: 21px;
  color: #fff;
  font-size: 11px;
  line-height: 21px;
  text-align: center;
  border-radius:2px;
  background: #000000; 
}
#text_carousel > ul{
  position: absolute; left: 110px; top: 0px;
  padding: 0;
  width: 820px;
  list-style-type: none;
}
#text_carousel > ul li{
  padding: 0;
  height: 32px;
  line-height: 33px;
}
#text_carousel > ul a{
  color: #000;
}

#text_carousel > ul a:hover{
  color: #ae0029;
  text-decoration: none;
}


#latest_features{
  margin:22px 0 0 0;
  height: 474px;
  border-radius:3px;
  background: #000;
}

#latest_features > h2{
  padding: 0 18px;
  height: 38px;
  font: bold 16px/38px Arial;
  color: #fff;
}

#last_news{
  padding: 18px 0 0 0;
  overflow: hidden;
}

#last_news > h3{
  padding: 0 18px;
  height: 38px;
  font: bold 16px/38px Arial;
  color: #fff;
  border-top-right-radius:3px;
  border-top-left-radius:3px;
  background: #000;
}

#last_news ol {
  padding: 0;
  height: 34px;
  border:solid 1px #e5e5e5;
  list-style-type: none;
}

#last_news ol li{
  position:relative;
  padding: 0 11px;
  height: 35px;
  float: left;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  line-height: 32px;
  border-right:solid 1px #d8d8d8;
  background: #e8e8e8;
}

#last_news ol li:hover,
#last_news ol li.selected{
  background: #ffffff;
}

#last_news  div{
  position: relative;
  height: 311px;
  border:solid 1px #e5e5e5;
  border-top: 0;
  overflow: hidden;
}

#last_news  ul{
  position: absolute; left:0; top:0;
  padding: 0;
  height: 311px;
  list-style-type: none;
}

#last_news ul li{
  padding: 0;
  width: 965px;
  height: 311px;
  background: #ccc;
}

